$primary : #326dee;
$secondary : #1ac888;
$error : #d32752;
$info : #f6c31c;

$colors:(
    "primary":#326dee,
    "secondary" : #1ac888,
    "error" : #d32752,
    "info": #f6c31c
);

@debug map-get($colors, "primary");
@each $key, $color in $colors{
    .text-#{$key}{
        color : $color
    }
}









$base-padding : 0.75rem;
$base-margin : 0.75rem;
$base-border-thickness: 1px;
$base-border-radius : 20px;
$base-font-size : 1rem;
$font-size-SM : 0.75*$base-font-size;